.map-container {
  .rsm-svg {
    width: 100%; /* Заполняем всю ширину родителя */
    height: 200vh;
  }
  svg {
  }
}

.ComposableMap {
}
.map-container {
  width: 100%; /* Задает полную ширину */
  height: 100%; /* Задает высоту на всё окно браузера */
  display: flex; /* Flexbox для выравнивания */
  justify-content: center; /* Центрирование содержимого по горизонтали */
  align-items: center; /* Центрирование содержимого по вертикали */
  position: relative; /* Для будущего позиционирования */
  overflow: hidden; /* Скрытие переполнения (если есть) */
}

.ComposableMap {
  width: 100%; /* Задает ширину карты 100% от контейнера */
  height: auto; /* Автоматическая высота для поддержания пропорций */
}
