.notification-list {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;

  margin: 20px auto;

  h5 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
  }

  .empty-message {
    color: #999;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

  .notification-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .notification-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;

    .notification-text {
      font-size: 16px;
      color: #333;
      .icon {
        cursor: pointer;
        animation: pulse 1.5s infinite;
        transition: all 0.3s ease;
        &:hover {
          color: green;
          animation: none;
          scale: 1.3;
        }
      }

      @keyframes pulse {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.3);
        }
      }
    }

    .notification-time {
      font-size: 14px;
      color: #777;
      text-align: right;
    }
  }
}
.icon-controle {
  cursor: pointer;
  margin-left: 25px;
  scale: 1.3;
  transition: all 0.3s ease;
  &:hover {
    color: rgb(61, 82, 237);
    animation: none;
    scale: 1.7;
  }
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90vw; /* Убедитесь, что окно не выходит за пределы экрана */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content .MuiTypography-root {
  margin-bottom: 10px;
}

.modal-content .MuiTextField-root,
.modal-content .MuiSelect-root {
  margin-bottom: 10px;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.batch-process-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.batch-process-button:hover {
  background-color: #45a049;
}

.batch-process-icon {
  font-size: 18px;
}
